.fc-event.event-completed {
  background-color: #e0e0e0 !important;
  color: #777 !important;
}

.fc-event.event-todo {
  background-color: #42a5f5 !important; /* blue */
  color: white !important;
}

.fc-event.event-inprogress {
  background-color: #fb8c00 !important; /* orange */
  color: white !important;
}

.fc-event.event-pinned {
  background-color: #8e24aa !important; /* purple */
  color: white !important;
}